# API Settings
PORT=3000

# Support Email Settings (SMTP)
SUPPORT_EMAIL=app.dogdex+support@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=app.dogdex@gmail.com
SMTP_PASS=your_smtp_pass_here

# Database Settings (Supabase Postgres)
DATABASE_URL="postgres://postgres:[PASSWORD]@db.[PROJECT-ID].supabase.co:6543/postgres?pgbouncer=true"
DIRECT_URL="postgres://postgres:[PASSWORD]@db.[PROJECT-ID].supabase.co:5432/postgres"

# Auth Settings
JWT_SECRET="your_replacement_secret_here"

# Supabase Storage Settings
SUPABASE_URL="https://your-project-id.supabase.co"
SUPABASE_KEY="your-anon-key"
SUPABASE_BUCKET="dog-photos"
